.navbar {
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
    }
}