.login {
    /* min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; */

    .header {
        width: 100%;
        margin: 80px auto 5px auto;
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        flex-grow: 1;

        h2 {
            text-align: center;
        }
        span {
            color:rgb(73, 197, 35);
        }

        .logo {
            height: 60px;
            width: 60px;
            margin: 16px;
            background: url("/images/logo1.png");
            border-radius: 50%;
            box-sizing: border-box;
            box-shadow: 7px 7px 10px #ff0000, -7px -7px 10px rgb(255, 255, 255);
            background-color: #000000;
        }
    }

    .loginForm {
        flex-grow: 3;
        padding: 0 16px;
        width: 100%;

        h3 {
            text-align: center;
        }

        fieldset {
            border: none;

            .formInput {
                display: flex;
                justify-content: center;
                gap: 5px;

                margin: 5px auto 15px auto;
            
                i {
                    color: black;
                    background-color: white;
                    padding: 10px;
                    font-size: 18px;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }

                input {
                    width: 100%;
                }
            }

        }

        .loginBtn {
            font-size: 16px;
            background-color: rgb(73, 197, 35);
            border-radius: 10px;
            color: #fff;
            padding: 10px 65px;
            width: 100%;
            margin: 20px auto;
        }

        .loginBtn:hover {
            border: black solid 2px;
            color: black;
        }

        p {
            font-size: 12px;
            text-align: center;

            a {
                color: rgb(73, 197, 35);
            }
        }
    }

}

@media screen and (min-width: 560px) {
    .login {
        .loginForm {
            width: 550px;
        }
    } 
}